<launch>
  <test test-name="angles_test" pkg="ganisakta" type="AnglesTest" />
  <test test-name="triangle_test" pkg="ganisakta" type="TriangleTest" />
  <test test-name="quaternion_test" pkg="ganisakta" type="QuaternionTest" />
  <test test-name="euler_angles_test" pkg="ganisakta" type="EulerAnglesTest" />
</launch>